.vs/CompetitionPrograming2/DesignTimeBuild/.dtbcache
.vs/CompetitionPrograming2/v16/.suo
.vs/CompetitionPrograming2/v16/Server/sqlite3/db.lock
.vs/CompetitionPrograming2/v16/Server/sqlite3/storage.ide
.vs/CompetitionPrograming2/v16/Server/sqlite3/storage.ide-shm
.vs/CompetitionPrograming2/v16/Server/sqlite3/storage.ide-wal
Test/bin/Debug/netcoreapp2.2/CompetitionPrograming2.dll
Test/bin/Debug/netcoreapp2.2/CompetitionPrograming2.pdb
Test/bin/Debug/netcoreapp2.2/Input1.txt
Test/bin/Debug/netcoreapp2.2/Input2.txt
Test/bin/Debug/netcoreapp2.2/Input3.txt
Test/bin/Debug/netcoreapp2.2/Input4.txt
Test/bin/Debug/netcoreapp2.2/Output1.txt
Test/bin/Debug/netcoreapp2.2/Output2.txt
Test/bin/Debug/netcoreapp2.2/Output3.txt
Test/bin/Debug/netcoreapp2.2/Output4.txt
Test/bin/Debug/netcoreapp2.2/Test.deps.json
Test/bin/Debug/netcoreapp2.2/Test.dll
Test/bin/Debug/netcoreapp2.2/Test.pdb
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.dev.json
Test/bin/Debug/netcoreapp2.2/Test.runtimeconfig.json
Test/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
Test/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
CompetitionPrograming2/bin/Debug/netcoreapp2.2/CompetitionPrograming2.deps.json
CompetitionPrograming2/bin/Debug/netcoreapp2.2/CompetitionPrograming2.dll
CompetitionPrograming2/bin/Debug/netcoreapp2.2/CompetitionPrograming2.pdb
CompetitionPrograming2/bin/Debug/netcoreapp2.2/CompetitionPrograming2.runtimeconfig.dev.json
CompetitionPrograming2/bin/Debug/netcoreapp2.2/CompetitionPrograming2.runtimeconfig.json
CompetitionPrograming2/obj/CompetitionPrograming2.csproj.nuget.cache
CompetitionPrograming2/obj/CompetitionPrograming2.csproj.nuget.dgspec.json
CompetitionPrograming2/obj/CompetitionPrograming2.csproj.nuget.g.props
CompetitionPrograming2/obj/CompetitionPrograming2.csproj.nuget.g.targets
CompetitionPrograming2/obj/project.assets.json
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.AssemblyInfo.cs
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.AssemblyInfoInputs.cache
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.assets.cache
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.csproj.CoreCompileInputs.cache
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.csproj.FileListAbsolute.txt
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.csprojAssemblyReference.cache
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.dll
CompetitionPrograming2/obj/Debug/netcoreapp2.2/CompetitionPrograming2.pdb
Test/obj/project.assets.json
Test/obj/Test.csproj.nuget.cache
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp2.2/Test.AssemblyInfoInputs.cache
Test/obj/Debug/netcoreapp2.2/Test.assets.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.CopyComplete
Test/obj/Debug/netcoreapp2.2/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/netcoreapp2.2/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp2.2/Test.csprojAssemblyReference.cache
Test/obj/Debug/netcoreapp2.2/Test.dll
Test/obj/Debug/netcoreapp2.2/Test.pdb
/.vs/CompetitionPrograming2/v16/TestStore/0
/Test/obj
/CompetitionPrograming2
/.vs/CompetitionPrograming2/DesignTimeBuild
/Test/bin/Debug/netcoreapp3.1
